extends layout

block content

  if user
    if user.username ==user.username
      ul
      each User in users.reverse()
       li "Name	"#{User.name}: "		Email	"#{User.email}: "		User-Name	"#{User.username}

